<title>TinyApp</title style="align:center;">
<p>TinyApp</p>
 <%if(!user.id){%>
  <p align = "center">
    <a href="/login">Log in</a>
  </p>
  <p align = "center">
    <a href="/register">Register</a>
  </p>

<%}else{%>
   <div align="right">
    <%=user.email%>

    <!-- logout button -->
    <form action="/logout" method="POST" >
      <input type="submit" value="logout">
    </form>
  </div>
<%}%>