<!DOCTYPE html>
<title >TinyApp</title>
<p class="title">TinyApp</p>
 <%if(!user.id){%>
   <div class="login">
    <p>
      <a href="/login">Log in</a>
    </p>
    <p>
      <a href="/register">Register</a>
    </p>
  </div>
<%}else{%>
   <div class="userinfo" >
    <span class="email">
      <%=user.email%>
    </span>

    <!-- logout button -->
    <span class="logout">
      <form action="/logout" method="POST" >
        <input type="submit" value="logout">
      </form>
    </span>
  </div>
<%}%>