<title >TinyApp</title style="align:center;">
<p class="title">TinyApp</p>
 <%if(!user.id){%>
  <p class="login" align = "center">
    <a href="/login">Log in</a>
  </p>
  <p align = "center">
    <a href="/register">Register</a>
  </p>

<%}else{%>
   <div class="userinfo" >
    <span class="email">
      <%=user.email%>
    </span>

    <!-- logout button -->
    <span class="logout">
      <form action="/logout" method="POST" >
        <input type="submit" value="logout">
      </form>
    </span>
  </div>
<%}%>