<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/login.css" rel="stylesheet" type="text/css">
  <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
  <body>
    <p class="text">Log in with your email and password</p>
    <form action="/login" method="POST">
      <p>
        Email:<input class="email" type="email" name="email">
      </p>
      <p>
        Password: <input class="password" type="password" name="password" >
      </p>
      <p>
        <input class="login" type="submit" value="Log in" >
      </p>
      <a class="register" href="/register">Register</a>
    </form>
  </body>
</html>