<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/register.css" rel="stylesheet" type="text/css">
  <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
  <body>
    <p class="text">Register with Tiny App by entering your email and a password</p>
    <form action="/register" method="POST" >
      <p>
        Email: <input class="emailfield" type="email" name="email">
      </p>
      <p>
        Password: <input class="password" type="password" name="password" >
      </p>
      <p class="submit">
        <input  type="submit" value="Subimt" >
      </p>
    </form>
  </body>
</html>