<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
  <body>
    <form action="/register" method="POST" style="margin:150px;">
      <p>
        Email: <input type="email" name="email">
      </p>
      <p>
        Password: <input type="password" name="password" >
      </p>
      <p>
        <input type="submit" value="Subimt" style="font-size:70px;">
      </p>
    </form>
  </body>
</html>