<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/urls_show.css" rel="stylesheet" type="text/css">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <% include partials/_header %>
  </head>
  <body>

    <form class="inputForm" action="/urls/update" method="POST" >
      <p>Short URL : <%=short_url%></p>
      <label>Edit this url</label>
      <input type="hidden" name="shortURL" value=<%=short_url%>>
      <input id="longURL" type="text" name="longURL" placeholder=<%=long_url%> >
      <input class="submitForm" type="submit" value="Update" >
    </form>
  </body>
</html>