<!DOCTYPE html>
<!-- <html lang="en"> -->
<head>
  <link href="/urls_index.css" rel="stylesheet" type="text/css">
  <link href="/styles.css" rel="stylesheet" type="text/css">
  <% include ./partials/_header.ejs %>
</head>
<body>
  <table class="table"  align="center"  border= "0"; style="font-size:20px; width: 300px; border-collapse:collapse "; cellpadding="5px">
    <% urls.forEach(function(element){ %>
      <tr>
        <td style="font-size:17px"><%=element.short_url%>&#8594;</td>
        <td style="color:blue"><%= element.long_url %></td>
        <td>
          <form method="POST" action="/urls/<%=element.short_url%>/delete" >
            <input type="submit" value="&times" >
          </form>
        </td>
        <td>
          <a href="http://localhost:8080/urls/<%=element.short_url%>"> Edit</a>
        </td>
      </tr>
    <% }) %>
  <table>
  <!-- Following line is the link to the page for adding new url -->
  <%if (user.id){%>
    <p align="center"> <a href="/urls/new">Add a new url</a> </p>
  <%}%>

  </body>
</html>




