form {
  padding:0px;
  margin:auto;
  width:50%;
  margin-top:60px;
}

.emailfield {
  margin-left:34px;
  font-size:20px;
  height:20px;
  width:200px;
}

.password {
  height:20px;
  font-size:20px;
  width:200px;
}

.login {
  margin-left:150px;
}

.text {
  margin:auto;
  width:50%;
  margin-top:50px;

}

.register {
  margin-left:142px;
}