form {
  margin-left:400px;
  margin-top:50px;
}

.emailfield {
  margin-left:29px;
  font-size:20px;
  height:20px;
  width:200px;
}

.password {
  height:20px;
  font-size:20px;
  width:200px;
}
.text {
  margin:auto;
  width:50%;
  margin-top:50px;
}

.submit {
width:50%;
margin-left:160px;
}