body {
  font-size:20px;
 clear:both;
 margin:0px;
 padding:0px;
}
html{

}
/*partials CSS*/
.title {
  background-color:#132bd6;
  font-size: 2em;
  padding:.5em;
  color:white;
  text-shadow: 2px 2px black;
  margin:0px;
}

.email {
  color:#132bd6;
  padding:5px;
}

.logout {
  float:right;
}



.userinfo {
  float:right;
}

.login {
  text-align:center;
}
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  clear: both;
}